@model TutorialModel

<h2>@Model.name @Model.lastName</h2>
<h3>@Model.GetAge() jaar</h3>

<form method="post">
    Name: <input name="txtName" style="width: 200px" value="@Model.name" />
    Lastname: <input name="txtLastName" style="width: 200px" value="@Model.lastName" />
    Age: <input type="number" name="txtAge" style="width: 200px" value="@Model.GetAge()" />
    <input type="submit" style="width: 200px" />
</form>